<!DOCTYPE html>
 <html>
          <head>
              <meta name="viewport" content="width=device-width, initial-scale=1">
          </head>      
    
 <body>
        <div style="background-color:#71FDDD ;"  >
         <div class="container-fluid">
     <header>
   
      <nav class="navbar" style="background-color:#0B7C61 ;">
             <a class="navbar-brand" href="#"  title="{{title}}">
             <img src="../assets/marketCap.png" width="30" height="30" class="d-inline-block align-top" alt="" style="text-align: center;">
           {{title}}
            </a>
            <a class="navbar-brand"  href="#" title="Official Site">
              <img  src="#" width="30" height="30" class="d-inline-block align-top" alt="">
            </a>

            <!-- style="background-color: darkcyan; -->
            
          <div class="navbar-collapse" id="navbarNav">
              <!-- <ul class="navbar-nav" style="border-radius: 10px;">
                <li class="nav-item">
                  <a class="nav-link" routerLink="listview"><button class="btn btn-primary">Crypto-Currency List</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="comparison"><button class="btn btn-primary">Comparison View</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="pricechart"><button class="btn btn-primary">Price Chart</button></a>
                </li>
              
              </ul> -->
              <nav class="navbar navbar-expand-sm ">
                  <!-- Brand/logo -->
                  <a class="navbar-brand" href="#">
                    <img src="../assets/marketCap.png" width="30" height="30" class="d-inline-block align-top" style= " position:absolute;margin-top:-0.6%; margin-left:-3px;;" alt="logo">
                  </a>
                  
                  <!-- Links -->
                  <ul class="navbar-nav">

                    <li class="nav-item">
                      <a class="nav-link" href="#" routerLink="listview"><button class="btn btn-primary">Crypto-Currency List</button></a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="#" routerLink="comparison"><button class="btn btn-primary">Comparison</button></a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="#" routerLink="pricechart"><button class="btn btn-primary">Price Chart</button></a>
                    </li>

                  </ul>
                </nav>
          </div>
        </nav>
  </header>

  <!------it is code code of market chart-->
  <p class="font-weight-light">CryptoCurrencies : {{garr.active_cryptocurrencies}}
      &nbsp;&nbsp; Markets : {{garr.active_markets}} &nbsp;&nbsp; 
       &nbsp;&nbsp; BTC Dominance : {{garr.bitcoin_percentage_of_market_cap}}%
  </p>
<!------end-->

  <div class="container">
      <router-outlet></router-outlet> 
  </div>

<!----------footer code started-->
  <footer>
    <nav class="navbar foo" style="background-color:#08404F ">
        <a href="https://www.facebook.com/CoinMarketCap"  title="facebook" class="i fa fa-facebook"></a>
        <a href="https://twitter.com/CoinMarketCap" title="twitter" class="i fa fa-twitter"></a>
        <a href="https://appstore.com/coinmarketcapcom/" title="AppStore" class="i glyphicon glyphicon-apple">Store</a>
        <br/><br/>
    </nav>
  </footer>
  <!-----End code-->
</div>
</div>
</body>

</html>